.main{
    min-height: 86vh;
    height: fit-content;
}

.heading{
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
    margin-top: 10px;
}

.hoverEffect{
    cursor: pointer;
    transition: ease 0.3s;
}

.hoverEffect:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 5px #b3b3b3;
}